force-app/main/default/flows/Dependent_Picklist_LWC_Example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Dependent Picklist LWC Example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dependent Picklist LWC Example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the Record Type for the 2nd Record Type in LyndaTest__c</description>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scr_Example2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LyndaTest__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RecordType2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scr_Example1</name>
        <label>scr_Example1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <fields>
            <name>dtxt_Title1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;First Example with multLevelDependentPicklistWithRecordType&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The 1st Dependent field is the controlling field for the 2nd and third.  All are required except the 3rd.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MultLevelExample</name>
            <extensionName>c:multLevelDependentPicklistWithRecordType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>LyndaTest__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>ControllingField__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentField</name>
                <value>
                    <stringValue>DependentField1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentField2</name>
                <value>
                    <stringValue>DependentField2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentField3</name>
                <value>
                    <stringValue>DependentField3__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Example2</name>
        <label>scr_Example2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scr_Example3</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_dtxt_Title2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Second Example with multLevelDependentPicklistWithRecordType&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;This example uses a preselected Record Type ID from the Get Records.  The 1st Dependent field is the controlling field for the 2nd and third.  All are required except the 3rd.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MultLevelExample2</name>
            <extensionName>c:multLevelDependentPicklistWithRecordType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>LyndaTest__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>ControllingField__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentField</name>
                <value>
                    <stringValue>DependentField1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentField2</name>
                <value>
                    <stringValue>DependentField2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentField3</name>
                <value>
                    <stringValue>DependentField3__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userDefaultRecordTypeId</name>
                <value>
                    <elementReference>Get_RecordType.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideRecordTypeInput</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Example3</name>
        <label>scr_Example3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtxt_Title3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Third Example with multLevelDependentPicklistWithRecordType&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The 1st Dependent field is the controlling field for the 2nd and third.  All are required except the 3rd.  3rd Dependent field is multi-select&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MultLevelExample3</name>
            <extensionName>c:multLevelDependentPicklistWithRecordType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>LyndaTest__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>ControllingField__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentField</name>
                <value>
                    <stringValue>DependentField1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentField2</name>
                <value>
                    <stringValue>DependentField2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentField3</name>
                <value>
                    <stringValue>DependentField4__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_Example1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
